@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&family=Orbitron&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    height: 100vh;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0.5186449579831933) 0%, rgba(73,73,73,1) 0%, rgba(20,22,24,1) 100%);
    font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(234, 32, 39);
    outline: none;
    border-radius: 50px;
}

button.btn {
    width: 150px;
    height: 50px;
    outline: none;
    background: linear-gradient(rgb(255, 255 ,255), rgba(255, 255 ,255)) no-repeat 0px 50px;
    transition: .3s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

button.btn:hover {
    background: linear-gradient(rgb(255, 255 ,255), rgba(255, 255 ,255)) no-repeat 0px 0px;
    color: rgb(0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 2px;
    letter-spacing: 1.5px;
    color: rgb(255, 255, 255);
    margin: 5px 0;
}